{% extends 'base.html.twig' %}

{% block title %}Hello EleveController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Liste des classes</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Prenom de l'eleve</th>
                <th>Nom de l'eleve</th>
                <th>Classe de l'eleve</th>
            </tr>
        </thead>
        <tbody>
            {% for eleve in eleves %}
                <tr>
                    <td>{{ eleve.id }}</td>
                    <td>{{ eleve.prenom }}</td>
                    <td>{{ eleve.nom }}</td>
                    <td>{{ eleve.nom }}</td>
                    <td>{{ eleve.classe.nomClasse }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block javascripts %}
    <script type="module" src="{{ asset('assets/bootstrap.js') }}"></script>
{% endblock %}
